<%= form_for @log_operador_virtual, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :tipo, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :tipo, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mensaje, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :mensaje, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fecha, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :fecha, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  log_operador_virtuals_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
