<p id="notice"><%= notice %></p>

<p>
  <strong>Issi:</strong>
  <%= @tetra.issi %>
</p>

<p>
  <strong>Dispositivo:</strong>
  <%= @tetra.dispositivo %>
</p>

<%= link_to 'Edit', edit_tetra_path(@tetra) %> |
<%= link_to 'Back', tetras_path %>
