<p id="notice"><%= notice %></p>

<p>
  <strong>Centro:</strong>
  <%= @poblacion.centro %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @poblacion.nombre %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @poblacion.codigo %>
</p>

<p>
  <strong>Pl:</strong>
  <%= @poblacion.pl %>
</p>

<p>
  <strong>Gc:</strong>
  <%= @poblacion.gc %>
</p>

<p>
  <strong>Epes:</strong>
  <%= @poblacion.epes %>
</p>

<%= link_to 'Edit', edit_poblacion_path(@poblacion) %> |
<%= link_to 'Back', poblacions_path %>
