<h1>Listing centros</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @centros.each do |centro| %>
      <tr>
        <td><%= centro.codigo %></td>
        <td><%= centro.nombre %></td>
        <td><%= link_to 'Show', centro %></td>
        <td><%= link_to 'Edit', edit_centro_path(centro) %></td>
        <td><%= link_to 'Destroy', centro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Centro', new_centro_path %>
